// vim: ft=css

body {
  background: #211f20;
  font-family: Inconsolata, monospace;
  color: #dfdfdf;
  text-align: center;
}


h2 {
  color: #6bbfe0;
  margin: 25px 0 20px;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: #dfdfdf;
}

h1 {
  color: #4dc667;
  margin: 25px auto;
  font-size: 60px;
  letter-spacing: 2px;
}

nav {
  margin: -10px auto 20px;
  background: rgba(167, 165, 166, 0.1);
  border-radius: 2px;
  width: 400px;
  text-align: center;
  padding: 5px;

  li {
    padding: 0 8px;
    display: inline;

    a {color: #4dc667}

    a:hover {
      transition: 0.3s;
      color: #8cde9e;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project {
  background: rgba(167, 165, 166, 0.03);
  padding: 20px;
  border-radius: 4px;
  margin: 10px;
  font-size: 17px;

  h2 {
    margin: 0 0 5px;
  }
}

h3 {
  color: #f44336f0;
}

#main_info {
  width: 550px;
  margin: auto;

  p {
    display: inline;
  }

  .dc {
    border-radius: 3px;
    padding: 0 2;
    background: rgba(128, 128, 128, 0.2);
  }

  .ev {
    color: #7289da;
    background: rgba(114, 137, 218, 0.1);
  }

  .lt {
    text-decoration: line-through;
  }

  .pl::before,
  .pl::after {
    content: " ";
    width: 12px;
    height: 5px;
    display: inline-block;
  }

  .pl::before {
    background: white;
    margin-bottom: 5px;
  }

  .pl::after {
    background: red;
    margin-left: -12px;
  }

  ul {
    li {
      padding: 2px;
    }

    .github,
    .github a {
      color: rgb(167, 165, 166);
    }

    .github a {
      background: rgba(167, 165, 166, 0.1);
    }

    .gitlab,
    .gitlab a {
      color: rgb(118, 76, 249);
    }

    .gitlab a {
      background: rgba(118, 76, 249, 0.1);
    }

    .reddit,
    .reddit a {
      color: rgb(229, 88, 41);
    }

    .reddit a {
      background: rgba(229, 88, 41, 0.1);
    }

    .aur,
    .aur a {
      color: #7289da;
    }

    .aur a {
      background: rgba(114, 137, 218, 0.1);
    }

    .keybase a {
      background: rgba(255, 111, 33, 0.1);
      color: rgb(255, 111, 33);
    }

    .matrix a {
      background: rgba(90, 110, 200, 0.1);
      color: rgb(90, 110, 200);
    }

    a:hover {
      background: #7289da;
      color: #dfdfdf;
    }
  }

  .pgpkey {
    margin-bottom: 30px;
    text-align: left;
    padding: 10px 20px;
    font-family: monospace;
    overflow: auto;
    height: 10rem;
  }

  .dl {
    color: #4dc667;
    display: block;
    margin-bottom: 10px;
  }

  .dl:hover {
    cursor: pointer;
    color: #8cde9e;
  }
}

img {
  margin-top: 30px;
}

.btw {
  display: block;
  font-size: 15px;
  letter-spacing: 5px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: gray;
}

@media only screen and (max-width: 600px) {
  #main_info {
    width: 90vw;
  }
}
